.c-access-title{
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    position: relative;
    margin-top: 40px;
    &::before{
        position: absolute;
        content: "";
        top: 120%;
        left: 0;
        width: 30px;
        height: 4px;
        background-color: #fff;

    }
}