.c-sidebarbtn {
    position: fixed;
    top: 10px;
    right: 0;
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    background: transparent;
    display: none;

    &::before {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 6px;
        height: 100%;
        transform: rotate(45deg);
        background-color: #707070;
    }

    &::after {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 6px;
        height: 100%;
        transform: rotate(-45deg);
        background-color: #707070;
    }

    &.active {
        display: block;
    }
}